

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
   
    z-index: -1;
}



@keyframes gradientAnimation {
    0%, 100% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}









.subtitle {
    color: #F5C21B;

   
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-size: 4vh;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease; /* Smooth transition for color changes */
}

.subtitle::before {
    background-position: -180px;
   
  
    background-image: linear-gradient(65deg, transparent 20%, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.3) 27%, transparent 27%, transparent 100%);

    -webkit-text-fill-color: transparent;
    content: "IMDb";
    color: #FFF;
    display: block;
    padding-right: 140px;
    position: absolute;
}

.subtitle::after {
    content: "IMDb";
    color: #FFF;
    display: block;
    position: absolute;
    text-shadow: 0 1px #6E4414, 0 2px #6E4414, 0 3px #6E4414, 0 4px #6E4414, 0 5px #6E4414, 0 6px #6E4414, 0 7px #6E4414, 0 8px #6E4414, 0 9px #6E4414, 0 10px #6E4414;
    top: 0;
    z-index: -1;
}

.inner_subtitle::before {
  
    background-position: 180px;

    -webkit-text-fill-color: transparent;
    display: block;
    padding-right: 140px;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}

.inner_subtitle::after {
    background-position: -180px;

    background-image: linear-gradient(65deg, transparent 20%, rgba(255, 255, 255, 0.1) 20%, rgba(255, 255, 255, 0.15) 27%, transparent 27%, transparent 100%);
  
    -webkit-text-fill-color: transparent;
    color: #FFF;
    display: block;
    padding-right: 140px;
    position: absolute;
    text-shadow: 0 1px #6E4414, 0 2px #6E4414, 0 3px #6E4414, 0 4px #6E4414, 0 5px #6E4414, 0 6px #6E4414, 0 7px #6E4414, 0 8px #6E4414, 0 9px #6E4414, 0 10px #6E4414;
    z-index: -1;
}

.list {
    display: inline-flex;
    overflow-x: auto;
    list-style-type: none;
    white-space: nowrap;
    padding: 1vh 0;
    margin-top: 2vh;
    scrollbar-color: #F5C21B #900404;
    scrollbar-width: thin;
}

.list::-webkit-scrollbar {
    height: 8px;
}

.list::-webkit-scrollbar-thumb {
    background-color: #F5C21B;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.list::-webkit-scrollbar-thumb:hover {
    background-color: #FF5733; /* Darker color on hover */
}

.poster {
    height: 300px;
    margin: 1.2vh;
    transition: transform 0.3s ease-in-out;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Adding shadow to posters for more depth */
    border-radius: 10px; /* Rounded corners for posters */
}

.poster:hover {
    transform: scale(1.05); /* Scale up slightly on hover */
}

.iframe {
    width: 100%;
    margin: 0 1vw;
    border-radius: 10px; /* Rounded corners for the iframe */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Enhanced shadow for depth */
    transition: width 0.5s ease-in-out;
}

.input_radio:checked ~ .iframe {
    width: 70%;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.8); /* More pronounced shadow when expanded */
}

.input_radio:checked ~ .poster {
    transform: scale(0.9); /* Reduce size when iframe is expanded */
}

@media (max-height: 580px) {
    .description {
        font-size: 2.5vh;
    }

    .subtitle {
        font-size: 3vh;
    }
}








ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== THEME ===============*/
.nav__actions {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}
.section__title {
  font-size: var(--h1-font-size);
  text-align: center;
  margin-bottom: 2rem;
}

.perfil {
  width: 250px;
  height: 250px;
  background-color: var(--body-color);
  border: 8px solid var(--first-color);
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: background-color 0.4s;
}

.perfil__content {
  width: 180px;
  height: 180px;
  border: 10px solid var(--first-color);
  border-radius: 50%;
  overflow: hidden;
  justify-content: center;
  align-items: flex-end;
  background: linear-gradient(
    180deg,
    hsl(var(--hue), 90%, 80%),
    hsl(var(--hue), 90%, 30%)
  );
}

.perfil__img {
  width: 160px;
}

.main {
  overflow: hidden;
}

/*=============== WORK ===============*/
.work__container {
  row-gap: 2rem;
}

.work__link {
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 12px 24px var(--shadow-color);
}

.work__img {
  filter: grayscale(1);
  transition: filter 0.5s, transform 0.5s;
}

.work__icon {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  font-size: 2rem;
  color: var(--first-color);
  transition: transform 0.4s;
}

.work__link:hover .work__img {
  transform: scale(1.1);
  filter: none;
}

.work__link:hover .work__icon {
  transform: translate(0.5rem, -0.5rem) rotate(-30deg);
}

.work__title {
  font-size: var(--h2-font-size);
  margin-bottom: 0.25rem;
}

.work__page {
  padding-bottom: 4rem;
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  .container {
    margin-inline: 1rem;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .work__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
   .work__container {
    grid-template-columns: repeat(2, 350px);
  }
}

/* For large devices */
@media screen and (min-width: 1150px) {
  .container {
    margin-inline: auto;
  }
  .section {
    padding-block: 7rem 2rem;
  }
  .section__title {
    margin-bottom: 3.5rem;
  }
  .work__container {
    grid-template-columns: repeat(3, 350px);
    row-gap: 4rem;
  }
}  

/* Responsive Design */
@media (max-width: 768px) {
  .subtitle {
      font-size: 3vh;
  }

  .list-item {
      width: 150px;
  }

  .list {
      padding: 0.5vh 0;
  }
}

@media (max-width: 480px) {
  .subtitle {
      font-size: 2.5vh;
  }

  .list-item {
      width: 120px;
  }

  .list {
      padding: 0.5vh 0;
  }

  .footer {
      font-size: 0.875rem;
  }
}