.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.form-container h2{
  color: #ff263b;
  font-weight: 600;

}
.image-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
}

.main-text {
  color: white;
  font-size: 2.5rem;
  position: relative;
  top: 20%;
  left: 0;
}

.animated-text {
  font-size: 2.5rem;
  color: #e69500;
  font-weight: 700;
  margin-top: 30px;
}
.main-text-1{
  color: #fff;
  font-size: 45px;
  font-weight: 700;
}
.main-service-p{
  font-size: 18px;
  color: #fff;
  width: 40%;
  font-weight: 700;
}
.consult-btn {
 
  font-size: 20px;
  color: #fff;
  background-color: #dc3545;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
}
.animated-text-1{
  color: #e69500;
  font-size: 35px;
}


@media (max-width:900px){
  .animated-text-1{
    color: #e69500;
    font-size: 30px;
  }
  .main-text-1{
    color: #fff;
    font-size: 30px;
  }
}

@media (max-width:700px){
  .animated-text-1{
    color: #e69500;
    font-size: 25px;
  }
  .main-text-1{
    color: #fff;
    font-size: 25px;
  }
}

@media (max-width:500px){
  .animated-text-1{
    color: #e69500;
    font-size: 20px;
  }
  .main-text-1{
    color: #fff;
    font-size: 25px;
  }
}

