/* Main container styles */
.main-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.background-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Optional overlay */
}

.f-1 {
  position: relative;
  color: white;
  text-align: left;
  margin-left: 20px;
}

.animated-text {
  position: absolute;
  top: 46%;
  left: 10%;
  color: white;
  font-size: 1rem;
}

.form-container {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  background: rgba(37, 36, 36, 0.9);
  padding: 30px;
  border-radius: 10px;
  color: #ccc;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  display: block;
  /* width: 100%; */
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Media query for small screens */
@media (max-width: 958px) {
  .form-container {
    display: none;
  }
}
@media (max-width: 908px) {
  .form-container {
    display: none;
  }

  .video-overlay h1 {
    font-size: 2rem;
    top: 20%;
  }

  .animated-text {
    font-size: 1.5rem;
    top: 40%;
  }
}
.text-main-h1{
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  font-size: 3.5rem;
    
}


.text-main-div{
  position: absolute;
  top: 45%;
  left: 10%;
  color:#e69500 ;
  font-size: 1.5rem;

}
@media (max-width: 908px) {
  .text-main-div{
    position: absolute;
    top: 40%;
    left: 10%;
    color:#e69500 ;
   
  
  } 
  .text-main-h1{
    position: absolute;
    top: 30%;
    left: 10%;
    color: white;
    font-size: 3rem;
      
  }
  }
  @media (max-width: 500px) {
    .text-main-div{
      position: absolute;
      top: 30%;
      left: 10%;
      color:#e69500 ;
     
    
    } 
    }
    @media (max-width: 400px) {
      .text-main-div{
        position: absolute;
        top: 35%;
        left: 10%;
        color:#e69500 ;
       
      
      } 
      }

      