section {
  padding: 60px 0;
  background-color: #221f1d;
}

.section_title h2 {
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 20px;
}
/* General Styles */
.icon-arrow i {
  /* position: ;  */
  /* bottom: 20px; 
  right: 20px;  */
  font-size: 30px;
  color: #dc3545;
  transition: all 0.3s ease-in-out; 
  cursor: pointer;
  align-items: end; 
  justify-content: end;
  display: flex;
  opacity: 1;
  /* padding-top: 100px;  */


}

.icon-arrow i:hover {
  font-size: 35px; 
  color: #ff6347;  
  transform: translateY(-4px); 
}





.section_title p {
  color: #ccc;
  font-size: 1rem;
  line-height: 1.6;
}

.single_service {
  background: #2c2a28;
  border-radius: 8px;
  margin-bottom: 30px;
  padding: 20px;
  transition: transform 0.3s ease;
  /* height: 700px; */

}

.single_service:hover {
  transform: translateY(-10px);
}

.single_service-heading {
  color: #da3a00;
  font-size: 1.5rem;
  margin-top: 10px;
  
}

.single_service-body p {
  color: #ffffff;
  font-size: 1.01rem;
  margin: 15px 0;
}

.single_service-btn .btn {
  background: #333;
  color: #fff;
  margin: 5px;
  padding: 10px 15px;
  border-radius: 4px;
  transition: background 0.3s ease;
}

.single_service-btn .btn:hover {
  background: #8b8b8b;
}

.icon img {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
  justify-content: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .single_service-left {
    margin: 0 auto;
  }
  
  .single_service {
    margin: 20px 0;
  }
  
  .section_title h2 {
    font-size: 2rem;
  }

  .section_title p {
    font-size: 0.9rem;
  }
  
  .single_service-btn .btn {
    font-size: 0.9rem;
  }
}
