/* Basic styles */
.navbar {
    padding: 1rem 1rem;
    transition: background-color 0.3s, box-shadow 0.3s;
  
  }
  
  .navbar-brand {
    font-size: 1rem;
    font-weight: bold;
   
  }
  
  .nav-link {
    font-size: 1rem;
    color: #ffffff; /* Dark color for nav links */
    transition: color 0.3s;
  }
  
  .nav-link:hover, .nav-link:focus {
    color: #000000; /* Orange on hover */
  }
  
  /* Dropdown menu */
  .dropdown-menu {
    display: none; /* Hide dropdown by default */
    background-color: #115cff; /* Background color for dropdown */
    border: none;
    padding: 2rem;
  }
  
  .dropdown-item {
    color: #f8f9ff; /* Light color for dropdown items */
    font-size: 1.2rem;
    transition: background-color 0.3s, color 0.3s;
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 50px; /* Rounded background */
    align-items: center;
  }

  .drop-icon{
    color: rgb(255, 98, 0);
    background-color: #f8f9ff;
    padding: 10px;
    border-radius: 50%;
    margin-top: 10px;

  }
 
  
  .dropdown-item .fa {
    margin-right: 0.5rem; /* Space between icon and text */
  }
  
  .dropdown-item:hover, .dropdown-item:focus {
    background-color: #000000; 
    color: #1f1d23; /* Dark text on hover */
  }
  
  /* Show dropdown on hover */
  .nav-item.dropdown:hover .dropdown-menu {
    display: flex; /* Show dropdown on hover */
  }
  
  /* Flexbox styles for dropdown */
  .large-dropdown {
    width: 55vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: -450px;
  }
  
  .dropdown-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  
  .dropdown-row {
    display: flex;
    flex-direction: column;
  }
  
  /* Scrolled navbar */
  .navbar-scrolled {
    background-color: #ffffff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link {
    color: #000000 !important; /* Change color when scrolled */
    /* background-color: #ffffff; */
    
  }
  
  .navbar-scrolled .nav-link:hover, .navbar-scrolled .nav-link:focus {
    color: #ffffff !important; /* Orange when hovered */
  }
  
  /* Toggler icon */
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
  }
  
  /* Make the navbar bigger */
  .navbar-expand-lg {
    font-size: 1.5rem;
  }
  