body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    font-family: "Figtree", sans-serif;
    background: linear-gradient(0deg, rgb(39, 38, 38) 0%, rgba(30, 30, 30, 1) 100%);
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.carousel {
    position: relative;
    padding: 24px;
}

.carousel__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.carousel__wrapper {
    position: relative;
    overflow: hidden;
}

.carousel__content {
    display: flex;
    transition: transform 0.3s ease-in-out;
    padding: 10px;
    scroll-behavior: smooth;
    overflow-x: auto;
    scrollbar-width: none;
}

.carousel__content::-webkit-scrollbar {
    display: none;
}

.carousel__item {
    flex: 0 0 auto;
    width: calc(100% / 3);
    padding: 10px;
    text-align: center;
}

.carousel__item__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carousel__item__image:hover {
    transform: scale(1.05);
}

.carousel__controls {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    pointer-events: none;
}

.carousel__arrow {
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.carousel__arrow.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .carousel__item {
      width: 50%;
    }
}

@media (max-width: 480px) {
    .carousel__item {
      width: 100%;
    }

    .carousel__arrow {
      top: 50%;
      transform: translateY(-50%);
    }
}
